* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(home.jpg);
    background-size: cover;
}

.frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.75);
}

.no-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}

.no-content {
    font-weight: bold;
}

.no-content a:hover{
    text-decoration: underline;
}

.frame a:hover {
    text-decoration: underline;
}

.frame div {
    padding-bottom: 30px;
}

.frame p {
    font-weight: bold;
}

.frame .title p {
    font-size: larger;
}

.frame .creation_date {
    font-weight: normal;
    font-style: italic;
}

.no-content {
    position: absolute;
}

.home {
    position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;
    margin: 40px;
    color: #333;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.3);
}

.home a {
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home a:hover {
    text-decoration: underline;
}

.frame .what {
    margin: 7px;
}

.frame .what .w_title {
    font-size: large;
    text-decoration: underline;
}

.frame .goal {
    margin: 7px;
}

.frame .goal .g_title {
    font-size: large;
    text-decoration: underline;
}

.frame .us {
    margin: 7px;
}

.frame .us .u_title {
    font-size: large;
    text-decoration: underline;
}

.frame .coos {
    margin: 7px;
}

.frame .coos .c_title {
    font-size: large;
    text-decoration: underline;
}

