<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheep</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='welcome/handi_logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='welcome/profile.css')}}">
</head>
<body>
    <header>

    <div class="frame" style="max-width: 800px;">
        <div class="what">
            <p class="w_title">
                Wheep, c'est quoi?
            </p>
            <br>
            <p class="w_content">
                Wheep est une application en ligne qui répertorie les différents lieux accessibles sur le Grand Nancy. Chacun peut ajouter ses expériences et laisser des commentaires pour en informer les personnes que cela pourrait aider. Celle-ci ne nécessite pas obligatoirement de posséder un compte (usage anonyme), cependant vous devez vous enregistrer pour publier des commentaires ou noter des endroits.
            </p>
        </div>
        <br>
        <br>
        <div class="goal">
            <p class="g_title">
                Notre objectif
            </p>
            <br>
            <p class="g_content">
                L'objectif à terme de ce site internet est d'aider les personnes à mobilité réduite dans leur recherche d'informations lorsqu'elles désirent pratiquer une activité extérieure. L'existence de la communauté pour entretenir les informations à jour permet à la fois d'assurer la pertinence des informations mais également de sensibiliser la population à cette cause.
            </p>
        </div>
        <br>
        <br>
        <div class="us">
            <p class="u_title">
                Qui sommes-nous?
            </p>
            <br>
            <p class="u_content">
                Nous sommes un groupe de quatre étudiants de l'école d'ingénieurs de TELECOM Nancy. Dans le cadre de notre première année, nous avons choisi de mener ce projet pour mettre en avant l'inclusion dans le Grand Nancy.
            </p>
        </div>
        <br>
        <br>
        <div class="coos">
            <p class="c_title">
                Nos coordonnées
            </p>
            <br>
            <p class="c_content">
                TELECOM Nancy: 193, avenue Paul Muller 54602 Villers-lès-Nancy
                <br>
                Tél. +33 (0)3 72 74 59 00
            </p>
        </div>
        <br>
    </div>
    
    <div class="home">
        <a href="{{url_for('welcome')}}">Retour au menu principal</a>
    </div>
    
    </header>


</body>

</html>