<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheep</title>
    <link rel="shortcut icon" href="handi_logo.png">
    <link rel="stylesheet" href="styleregister.css">
</head>
<body>
    <header>
        <section class="loginwindow">
            <form action="">
                <br>
                <h1>Wheep</h1>
                <br>
                <div class="inputbox">
                    <input id="mail" type="text" placeholder="Adresse e-mail" required>
                    <img class="logomail" src="mail_logo.png" alt="Image_id">
                </div>
                <br>
                <div class="inputbox">
                    <input id="name" type="text" placeholder="Identifiant" required>
                    <img class="logoguy" src="user_logo.png" alt="Image_id">
                </div>
                <br>
                <div class="inputbox">
                    <input id="mdp" type="text" placeholder="Mot de passe" required>
                    <img class="logolock" src="padlock_logo.png" alt="Image_mdp">
                </div>
                <br>
                <br>
                <button type="submit" class="btn">Créer un compte</button>
            </form>
        </section>
    </header>
</body>
</html>