<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheep</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='welcome/handi_logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='welcome/styleregister.css')}}">
</head>
<body>
    <header>
        <section class="loginwindow">
            <form action="/register" method="POST">
                <br>
                <h1>Wheep</h1>
                <br>
                {% if is_created %}
                <p style="color: green;">
                    Votre compte a bien été créé

                    <script>
                        setTimeout(function() {
                            window.location.href = '/welcome';
                        }, 2500);
                    </script>
                </p>
                <br>
                {% elif reg_issue|length > 0 %}
                <p style="color: red;">
                    {{ reg_issue }}

                    <script>
                        setTimeout(function() {
                            window.location.href = '/register';
                        }, 2500);
                    </script>
                </p>    
                <br>
                {% else %}
                <div class="inputbox">
                    <input id="mail" name="mail" type="text" placeholder="Adresse e-mail" required>
                    <img class="logomail" src="{{url_for('static', filename='welcome/mail_logo.png')}}" alt="Image_id">
                </div>
                <br>
                <div class="inputbox">
                    <input id="name" name="name" type="text" placeholder="Identifiant" required>
                    <img class="logoguy" src="{{url_for('static', filename='welcome/user_logo.png')}}" alt="Image_id">
                </div>
                <br>
                <div class="inputbox">
                    <input id="mdp" name="mdp" type="password" placeholder="Mot de passe" required>
                    <img class="logolock" src="{{url_for('static', filename='welcome/padlock_logo.png')}}" alt="Image_mdp">
                </div>
                <br>
                <button type="submit" class="btn">Créer un compte</button>
                {% endif %}
            </form>
        </section>
        <div class="home">
            <a href="{{url_for('welcome')}}">Retour au menu principal</a>
        </div>
    </header>
</body>
</html>