<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheep</title>
    <link rel="shortcut icon" href="handi_logo.png">
    <link rel="stylesheet" href="stylereg_valid.css">
</head>
<body>
    <header>
        <section class="loginwindow">
            <form action="">
                <br>
                <h1>Wheep</h1>
                <br>
                <p style="color: green;">
                    Un mail de vérification vous a été envoyé.
                </p>
            </form>
        </section>
    </header>
</body>
</html>