<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheep</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='welcome/handi_logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='welcome/welcome.css')}}">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">Wheep</a>
        <div class="links">
            <ul>
                <li><a href="{{ url_for('profile') }}">Profil</a></li>
                <li><a href="{{url_for('mapLoader')}}">Rechercher</a></li>
                <li><a href="{{url_for('about')}}">A propos</a></li>
                <li>
                    {% if is_logged %}
                    <a href="{{url_for('disconnect')}}">Déconnexion</a>
                    {% else %}
                    <a href="{{url_for('login')}}">Connexion</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="menu">
            <img src="{{url_for('static', filename='welcome/burger.png')}}" alt="menu" class="menu-hamburger">
        </div>
    </nav>

    <div class="popup-box" id="popupBox">
        <p>Vous êtes déconnecté</p>
    </div>

    <header>

    </header>
</body>
<script>
        const menuHamburger = document.querySelector(".menu-hamburger")
        const links = document.querySelector(".links")
 
        menuHamburger.addEventListener('click',()=>{
        links.classList.toggle('mobile-menu')
        })
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var showPopup = '{{ session.get("is_logged") }}';

    if (showPopup == 'False') {
        document.getElementById('popupBox').click();
    }
    });
</script>

<script>
    document.getElementById('popupBox').addEventListener('click', function() {
    var popupBox = document.getElementById('popupBox');
    popupBox.style.display = 'block';

    setTimeout(function() {
        popupBox.style.display = 'none';
    }, 2000);
});
</script>

</html>