<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>
        <link rel="stylesheet" href="/static/map.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    </head>
    <body>
        <div id="body-container">
            <div id="header-container">
                
            </div>
            <div id="map" class="map-container"></div>
            <script src="/static/leaflet.js"></script>
            <div id="popup" class="popup-container">
                <div id="popup-controls">
                    <button id="popup-close" onclick="closePopup()">❌</button>
                </div>
                <div id="popup-content">
                    <div id="popup-building-info">
                        <img id="db-buildingimage" src="{{url_for('static', filename='laspastas.jpg')}}"/>
                        <div id="db-buildingname">Placeholder Name</div>
                        <div id="db-buildingdescription">Placeholder Description</div>
                        <div id="db-buildingaddress">Placeholder Address</div> 
                    </div>
                    {% if (is_co) %}
                    <div class="popup-headers">Ajouter un commentaire</div>
                    <form>
                        <input type="text" name="comment_content" id="comment_content" placeholder="Tapez un commentaire ici...">
                        <input type="range" name="comment_rating" id="comment_rating" min="0" max="10" value="5">
                        <input type="submit" value="Envoyer">
                    </form>
                    {% else %}
                    <div>Vous devez être connecté pour poster un commentaire.</div>
                    {% endif %}
                    <h1 class="popup-headers">Commentaires</h1>
                    <div class="popup-comment">
                        <span class="popup-comment-author">moi</span> - <span class="popup-comment-rating">5</span><br/>
                        <div class="popup-comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies ultricies, nunc nunc aliquam nunc, vitae aliquam nunc nunc eget nisl. Donec euismod, nisl eget ultricies ultricies, nunc nunc aliquam nunc, vitae aliquam nunc nunc eget nisl.</div>
                    </div>

                    <br/><br/>
                </div>
            </div>
        </div>
    </body>
</html>